* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    margin: 0;
  }
  
  header {
    padding: 60px;
    text-align: left;
    background: #244a71;
    color: #ede5e5;
  }
  
  


  .project {
    display: flex;
}

.project {
  display: grid;
  grid-template-columns: 30% 70%;
}

.left-column {
    flex: 1;
    background-color: lightblue;
    
}

.right-column {
    flex: 1;
    background-color: lightgreen;
    display: flex;
    flex-direction: column;
}

.row {
    padding: 50px;
    border: 1px solid black;
}





































  















