* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial; 
    margin: 0;
  }
  
  header {
    padding: 30px;
    text-align: left;
    background: #244a71;
    color: #ede5e5;
  }

  ul {
    text-align: 
  }
  


  .project {
    display: flex;
}

.project {
  display: grid;
  grid-template-columns: 30% 70%;
    background: linear-gradient(to right, #87c3b3 0% 29% , #aaaff0 33% 100%);
}
  

.left-column {
    flex: 2;
    word-wrap: normal;
/*    background-color: lightblue;  */
/*removed colors to change to gradient in the .project section*/
    
}

.right-column {
    flex: 2;
    word-wrap: normal;
/*    background-color: rgb(238, 186, 144); */ 
/*removed colors to change to gradient in the .project section*/
    display: flex;
    flex-direction: column;
}



.Horiseon-Refactor , .Time-Magazine , .Instagram , .LinkedIN  {
    padding: 15px;
    border: 1px solid black;
    
}


.row img {
  padding: 20px;
  border: 1px solid black;
  
}



































  















