* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial; 
    margin: 0;
  }
  
  header {
    padding: 30px;
    text-align: left;
    background: #4072a4;
    color: #ede5e5;
  }
/*the guiding links inside the page*/
  ul {
    text-align: right
  }
  

  /*'li' for the "return to top" section */
  li {
    text-align: center;
    padding-top: 10pt;
    padding-bottom: 10pt;
    background-color: beige;
  }
  

  .project {
    display: flex;
}

.project {
  display: grid;
  grid-template-columns: 30% 70%;
    background: linear-gradient(to right, #87c3b3 0% 29% , #aaaff0 33% 100%);
}
  

.left-column {
    flex: 2;
    word-wrap: normal;
/*    background-color: lightblue;  */
/*removed colors to change to gradient in the .project section*/
    padding-left: 20pt;
    padding-right: 20pt;
}

.right-column {
    flex: 2;
    word-wrap: normal;
/*    background-color: rgb(238, 186, 144); */ 
/*removed colors to change to gradient in the .project section*/
    display: flex;
    flex-direction: column;
}



.Horiseon-Refactor , .Time-Magazine , .Instagram , .LinkedIN  {
    padding: 15px;
    border: 1px solid black;
    
}

img {
  padding-right: 10pt;
  padding-left: 5pt;
  padding-bottom: 2pt;
}






































  















